@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,700;1,800;1,900&display=swap');

:root
{
    --celeste0: #c7e4e9; 
    --celeste1: #4fc4f7;
    --celeste2: #08a2e5;
    --celeste3: #258dba;
    --celeste4: #29353b;
    --arancio4: #332f2a;
    --arancio3: #b37229;
    --arancio2: #e67e07;
    --arancio1: #f7a94f;
    --arancio0: #fac08e;
    --arancioNew: #eaa351;
}

/* Nasconde la scrollbar in Chrome, Safari e Opera */
body::-webkit-scrollbar
{
  display: none;
}

/* Nasconde scrollbar in IE, Edge e Firefox */
.example
{
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;  /* Firefox */
}

body
{
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--celeste0);
}

/* Stile per la prima sezione con sfondo immagine */
#sec1
{
    background-image: url(../immagini/TuttaLaTower.jpg);
    background-size: cover; /* cover è la piu adatta */
    background-position: center 32%; /* allineamento ad hoc per l'immagine */
    /* background-attachment: fixed; */
    height: 100vh;
    /* position: relative; */
}

header
{
    display: flex;
    justify-content: center; /* titolo va al centro */
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1002;
    height: 3.2em; /* altrimenti mi va fuori dallo schermo */
}

header a
{
    position: fixed; /* resta fermo quando scorro */
    z-index: 2000;
}

.logo
{
    height: 4.8em;
    /* object-fit: contain; */
}

#menu-toggle
{
    display: none; /* per non visualizzare la casellina */
}

.menu-icon
{
    position: fixed; /* resta fermo quando scorro */
    right: 2em;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    z-index: 2000;
    transition: transform 0.3s ease;
    /* user-select: none; */
    background: #e3902f;
    padding: 8.5px 16px;
    border-radius: 6px;
    /* align-items: center; */
}

.menu-icon:hover
{
    transform: scale(1.1);
}

.overlay
{
    position: fixed; /* altrimenti occupa lo spazio del banner */
    top: 0; /* altrimenti lascia fuori l'header */
    /*left: 0;*/
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.16; /* default */
    visibility: hidden;  /* default */
    transition: all 0.3s ease;
    z-index: 999;
}

/* si attiva solo quando attivo il nav*/
#menu-toggle:checked ~ .overlay
{
    opacity: 1;
}

nav
{
    position: fixed;
    top: 0; /* per inglobare anche il toggle */
    right: -50.5vw; /* default fuori dallo schermo */
    width: 50.5vw; /* ESATTAMENTE tra drink e tower */
    height: 100vh;
    background: linear-gradient(135deg, #2c3e50 0%, #34495e 100%);
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3); /* leggera sfocatura a sinistra */
    transition: right 0.3s ease;
    z-index: 1000;
    text-align: left;
    /*display: flex;
    flex-direction: column;*/
}

#menu-toggle:checked ~ nav
{
    right: 0; /* sposta il nav */
}

nav ul
{
    list-style: none;
    margin: 12vh 0 0; /* circa la dimensione dell'header */
    /*flex: 1;*/
    height: 76vh;
}

nav ul li
{
    margin: 0 0 0 16%; /* giusto per mette qualcosa DA TOGLIERE */
}

nav ul li a
{
    padding: 1em 2em;
    text-decoration: none;
    transition: all 0.3s ease;
    /*border-left: 3px solid transparent;*/
    font-size: 2em;
    color: #eba13d;
    display: inline-block;
    font-weight: 644;
    letter-spacing: .048em;
    /*position: relative;*/
    text-transform: uppercase;
    white-space: nowrap; /* non fa andare a capo */
}

nav ul li a:hover, .current
{
    color: white;
    text-decoration: underline;
}

#nav-footer
{
    text-align: right;
    height: 12vh;
}

.icon
{
    height: 1.6em;
    padding: 5% 2% 1% 0%;
}

h1
{
    font-size: 6.4em;
    letter-spacing: .032em;
    line-height: 1.2;
    margin-bottom: 0;
    /* text-transform: uppercase; */
    text-align: center;
    color: #eba13d;
    text-shadow: 4px 0 1px rgba(0, 0, 0, 0.3);
}

#sec2
{
    background-color: var(--arancio0);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    height: 100vh;
}

#sec2 h2
{
    font-size: 3.8em;
    text-transform: uppercase;
    padding: 1em;
    width: 50vw;
}

#sec2 p
{
    font-size: 1.4em;
    padding: 1em;
    margin-right: 1em;
}

#sburra
{
    display: block;
    text-align: center;
    font-size: 1.5em;
}

#sec3
{
    color: #222;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

#sec3-container
{
    width: 50vw;
    margin-top: 1em;
    margin-bottom: 1em;
}

.line-container {
    display: flex;
    align-items: center;
}

.line-container::before,
.line-container::after {
    content: ''; /* crea i due elementi virtuali (linee) */
    flex: 1; /* dice a ciascuna linea di occupare tutto lo spazio disponibile */
    height: 2px;
    background: var(--arancio2);
}

.line-title-3 {
    padding: 0 2rem;
    white-space: nowrap;
}

#sec3 h2
{
    font-size: 3.2em;
    margin: 0;
    text-transform: uppercase;
}

#sec3 p
{
    font-size: 2.7em;
    text-align: center;
}

#mappa
{
    padding: 0 15%;
    width: 70%;
    height: 19em;
    border: none;
}